/*general styles*************************************/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', monospace, sans-serif;
  color: #444;
}

h2 {
  margin: 3% 0;
}

button {
  border: none;
  padding: 10px 20px;
  background-color: #444;
  color:white;
  cursor: pointer;
  font-family: 'Roboto', monospace, sans-serif;

}

button:hover {
  transition: 1s;
  background-color: #555;
}

button:active {
  transition: 0s;
  background-color: #444;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

button:focus {outline:0;}

img {
  cursor: pointer;
}

::selection {
  background-color: #444;
  color: #fff;
}

/*navbar css******************************************/
.nav {
  padding: 0 5%;
  height: 50px;
  width: 100%;
  background-color: #fff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  opacity: 0.95;
  z-index: 2;

}

.nav > .nav-header {
  display: inline;
}

/*logo box*/
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 18px;
  color: #444;
  margin: 7px 0;
  padding: 5px 25px;
  border: 1px solid #444;
  cursor: pointer;
}

.nav > .nav-header > .nav-title:hover {
  color: white;
  background-color: #444;
  transition: 1s;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 14px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 16px 1em;
  height: 50px;
  text-decoration: none;
  color: #444;
}

.nav > .nav-links > a:hover {
  color: #aaa;
}

.nav > #nav-check {
  display: none;
}

/*media queries for nav bar**********************************/
@media (max-width:600px) {
  .nav > .nav-btn {
    padding: 0 5%;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: #ddd;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 1px solid #000;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #fff; /*legacy*/
    background-image: linear-gradient(#fff 40%, #aaa);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 2;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/*title splash***********************************************/

.container {
  position: relative;
  text-align: left;
  background-image: linear-gradient(#fff 60%, #ddd);
  height: 35em;
}

.floating-text-title {
  position: relative;
  top: 25%;
  left: 5%;
  width:40%;
  min-width: 300px;
  /*transform: translate(-50%, -50%);*/
}


/*articles column**********************************/

.article-container {
  margin: 5% 5%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 1s;
  position: relative;
}

.card:hover,
.card:focus {
  top: -5px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


.blurb {
  padding: 0 16px;
}

.blurb::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

/*media query for columns and title splash*/
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    display: block;
  }
  .container {
    height: 25em;
  }
  .floating-text-title {
    top: 15%;
  }
}

/*gradient css*****************************************/

.do-this-btns {
  margin: 1% 0.5%;
}

.rainbow-btn {
  border: 1px solid #444;
  background-color: transparent;
  color: #444;
}

.rainbow-btn:hover{
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px #444;
  background-image:     linear-gradient(
    to right, 
    #E7484F,
    #F68B1D, 
    #FCED00,
    #009E4F,
    #00AAC3,
    #732982
  );
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}


#gradient
{
  width: 100%;
  height: 30em;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.floating-text-center {
  position: relative;
  top: 30%;
}

/*blog post css*******************************************/

.blog-post-data {
  margin: 8% 0 5% 0;
  overflow:auto; 
}

.time {
  float: left;
}

.comments {
  float: right;
}

.comments:hover {
    color: #aaa;
    cursor: pointer;
}



/*footer css**********************************************/
footer {
  background-image: linear-gradient(#eee, #fff 30%);
  margin-top: 5%;
  font-size: 0.9em

}

.footer {
  overflow:auto; 
  padding: 5% 1%;
  margin: 0 5%;

}

.footer-column-left {
  float: left;
  width: 40%;
  margin-bottom: 16px;
  padding: 0 3% 0 1%;
  border-left: 1px solid #888;

}

.footer-column-right { 
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 3% 0 1%;
  border-left: 1px solid #888;

}

/*media query for footer*/
@media screen and (max-width: 700px) {
  footer {
  margin-top: 10%;
  }
  .footer-column-left,
  .footer-column-right {
    width: 90%;
    display: block;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .modal-content {
    width:80%;
  }

  .close {
    font-size: 18px;
  }
}
